@media (max-width:1075px) {
    .web-w {
        width: 100%;
        margin: auto;
        max-width: 100%;
        padding: 0 2%;
        box-sizing: border-box;
    }
}

@media (max-width:900px) {
    .menu-logo {
        width: 16%;
    }
    .menu-items ul li a {
        padding: 24px 15px;
        font-size: 12px;
        font-weight: 500;
    }
}

@media (max-width:650px) {
    .header-section {
        background-color: #2789d1;
        padding: 2% 10%;
    }
    .menu-logo {
        width: 70%;
        margin-left: 14%;
    }
    .menu-items {
        width: 100%;
    }
    .menu-items ul li a {
        border-right: none;
    }
    .menu-items ul li:nth-child(1) {
        border: none;
    }
}

@media (max-width:523px) {
    .header-section {
        background-color: #2789d1;
        padding: 2% 10%;
    }
    .menu-logo {
        width: 37%;
        margin-left: 28%;
    }
    .menu-items ul li a {
        padding: 10px 14px;
        font-size: 12px;
        font-weight: 500;
    }
    .menu-items ul li a {
        padding: 10px 12px;
        font-size: 10px;
        font-weight: 500;
    }
}

@media (max-width:433px) {
    .header-section {
        background-color: #2789d1;
        padding: 2% 5%;
    }
    .menu-items ul li {
        margin-left: -10px;
    }
    .menu-items ul li a {
        padding: 7px 8px;
        font-size: 10px;
        font-weight: 500;
    }
}